### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [2]:
purchase_data_df = pd.DataFrame(purchase_data_df)
purchase_data_df.rename(columns={'SN':'Screen Name'}, inplace=True)
purchase_data_df

,Purchase ID,Screen Name,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

In [3]:
# * Display the total number of players(x)

In [4]:
total_players = len(purchase_data_df['Screen Name'].unique())
purchase_data_df["Total Players"] = total_players
purchase_data_df[["Total Players"]].head(1)

   Total Players
0            576

# Purchasing Analysis (Total)

In [5]:
# * Run basic calculations to obtain number of unique items, average price, etc.(x)
# * Create a summary data frame to hold the results(x)
# * Optional: give the displayed data cleaner formatting(x)
# * Display the summary data frame(x)

In [6]:
total_purchases = purchase_data_df['Purchase ID'].count()
avg_price = ('$' + str(round(purchase_data_df['Price'].mean(),2)))
total_revenue = ("$" + "{:,}".format(purchase_data_df['Price'].sum()))
unique_items = len(purchase_data_df['Item ID'].unique())
purchase_data_df["Number of Unique Items"] = unique_items
purchase_data_df["Average Price"] = avg_price
purchase_data_df["Number of Purchases"] = total_purchases
purchase_data_df['Total Revenue'] = total_revenue

In [7]:
purchase_data_df[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue", ]].head(1)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

In [8]:
# * Percentage and Count of Male Players(x)
# * Percentage and Count of Female Players(x)
# * Percentage and Count of Other / Non-Disclosed(x)

In [9]:
player_gender_df = purchase_data_df.loc[:, ["Screen Name", "Age", "Gender"]]
player_gender_df = player_gender_df.drop_duplicates()
gender_total = player_gender_df["Gender"].value_counts()
gender_percent = gender_total / total_players * 100
gender_demographics_df = pd.DataFrame({"Percentage of Players": gender_percent, "Total Count": gender_total})

In [10]:
pd.options.display.float_format = '{:,.2f}%'.format

In [11]:
gender_demographics_df

                       Percentage of Players  Total Count
Male                                  84.03%          484
Female                                14.06%           81
Other / Non-Disclosed                  1.91%           11


## Purchasing Analysis (Gender)

In [12]:
# * Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender(x)
# * Create a summary data frame to hold the results(x)
# * Optional: give the displayed data cleaner formatting(x)
# * Display the summary data frame(x)

In [13]:
gender_purchase_counts = purchase_data_df.groupby(["Gender"]).count()["Price"]
gender_avg_price = purchase_data_df.groupby(["Gender"]).mean()["Price"]
gender_purchase_total = purchase_data_df.groupby(["Gender"]).sum()["Price"]
avg_total_per_person = gender_purchase_total/gender_demographics_df["Total Count"]

In [14]:
pd.options.display.float_format = '${:,.2f}'.format

In [15]:
gender_analysis_summary = pd.DataFrame({"Purchase Count": gender_purchase_counts, "Average Purchase Price": gender_avg_price, "Total Purchase Value": gender_purchase_total, "Avg Total Purchase per Person": avg_total_per_person})
gender_analysis_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [16]:
# * Establish bins for ages(x)
# * Categorize the existing players using the age bins. Hint: use pd.cut()(x)
# * Calculate the numbers and percentages by age group(x)
# * Create a summary data frame to hold the results(x)
# * Optional: round the percentage column to two decimal points(x)
# * Display Age Demographics Table(x)

In [17]:
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999.99]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [18]:
player_gender_df["Age Demographic"] = pd.cut(player_gender_df["Age"], age_bins, labels=age_groups, include_lowest=True)
player_gender_df

       Screen Name  Age  Gender Age Demographic
0          Lisim78   20    Male           20-24
1      Lisovynya38   40    Male             40+
2       Ithergue48   24    Male           20-24
3    Chamassasya86   24    Male           20-24
4        Iskosia90   23    Male           20-24
..             ...  ...     ...             ...
773         Hala31   21    Male           20-24
774     Jiskjask80   11    Male           10-14
775     Aethedru70   21  Female           20-24
777     Yathecal72   20    Male           20-24
778        Sisur91    7    Male             <10

[576 rows x 4 columns]

In [19]:
age_total = player_gender_df["Age Demographic"].value_counts()
age_percent = age_total / total_players * 100

In [20]:
pd.options.display.float_format = '{:,.2f}%'.format

In [21]:
age_demographics_df = pd.DataFrame({"Total Count": age_total, "Percentage of Players": age_percent})
age_demographics_df.sort_index()

       Total Count  Percentage of Players
<10             17                  2.95%
10-14           22                  3.82%
15-19          107                 18.58%
20-24          258                 44.79%
25-29           77                 13.37%
30-34           52                  9.03%
35-39           31                  5.38%
40+             12                  2.08%

## Purchasing Analysis (Age)

In [22]:
# * Bin the purchase_data data frame by age(x)
# * Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc.(x)
# * Create a summary data frame to hold the results(x)
# * Optional: give the displayed data cleaner formatting(x)
# * Display the summary data frame()

In [23]:
purchase_data_df["Age Demographic"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_groups, include_lowest=True)

In [24]:
age_purchase_counts = purchase_data_df.groupby(["Age Demographic"]).count()["Price"]
age_avg_price = purchase_data_df.groupby(["Age Demographic"]).mean()["Price"]
age_purchase_total = purchase_data_df.groupby(["Age Demographic"]).sum()["Price"]
avg_purchase_per_age = age_purchase_total / age_demographics_df["Total Count"]

In [25]:
pd.options.display.float_format = '${:,.2f}'.format

In [26]:
age_analysis_summary = pd.DataFrame({"Age Ranges": age_total, "Purchase Count": age_purchase_counts, "Average Purchase Price": age_avg_price, "Total Purchase Value": age_purchase_total, "Avg Total Purchase per Person": avg_purchase_per_age})
age_analysis_summary

,Age Ranges,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,17,23,$3.35,$77.13,$4.54
10-14,22,28,$2.96,$82.78,$3.76
15-19,107,136,$3.04,$412.89,$3.86
20-24,258,365,$3.05,"$1,114.06",$4.32
25-29,77,101,$2.90,$293.00,$3.81
30-34,52,73,$2.93,$214.00,$4.12
35-39,31,41,$3.60,$147.67,$4.76
40+,12,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame